<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-offers"><%= link_to "Aktuelles", casein_offers_path %></li>
<li id="tab-brands"><%= link_to "Marken", casein_brands_path %></li>